<div class="container">
  <h3>Please Log In</h3>
  <p class="errorm"> {{error.message}} </p>

  <form method="post" id="form">

    <div class="name-field">

      <label for="email">E-mail:</label>
      <input type="text" value="" name="email" id="email" />
      <label for="password">Password:</label>
      <input type="password" value="" name="password" id="password" />

      <input id="Login" type="submit" value="Login" class="btn" />
    </div>

  </form>
  <P>if you are not a member already, you can register
    <a href="./register">here</a>
  </P>

</div>