<div class="container">
  <p>Now please tell us a little bit more about yourself</p>

  <form method="post" id="form">

    <div class="name-field">

      <label for="homepge">Homepage:</label>
      <input type="text" value="" name="homepage" id="homepage" />
      <label for="city">City:</label>
      <input type="text" value="" name="city" id="city" />
      <label for="age">Age:</label>
      <input type="number" value="" name="age" id="age" min="15" max="200" />

      <input id="comntinue" type="submit" value="continue" />
    </div>

  </form>
  <a href="./logout">exit</a>
</div>