<div class="container">
  <p>Thank you for signing to my Petition.
  Here is an photo of your signature </P>

{{first}}, {{last}}
<img src="{{signature}}" alt="">
  <p>
  If  you want to see all the persons who already signed please click
    <a href="signers">here</a>
  </p>
</div>