body {
  background-position: center;
  background-size: cover;
  background-image: url("PetitionPic.jpg");
}

#sig-canvas {
  border: 2px dotted #cccccc;
  border-radius: 15px;
  cursor: crosshair;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.name-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.errorm {
  color: red;
}

input {
  background-color: white;
  color: black;
  border: 2px solid #008cba;
}

.btn {
  background: lightblue;
  border-radius: 40%;
}
.btn:hover {
  background-color: #008cba;
  color: white;
}

canvas {
  background-color: white;
}

.form-control {
  width: 0px;
  height: 0px;
}
